<%= form_for @feed, :html => {class: 'feed'} do |f| %>
    <% if @feed.errors.any? %>
        <div class="alert alert-danger" id="error_explanation">
          <strong><%= pluralize(@feed.errors.count, "error") %> prohibited this feed from being saved:</strong>

          <ul>
            <% @feed.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="input-group">
      <%= f.label :url, class: 'sr-only' %>
      <%= f.text_field :url, class: 'form-control', placeholder: 'Enter a url' %>
      <span class="input-group-btn">
          <%= f.submit 'Add', class: 'btn btn-primary' %>
        </span>
    </div>

<% end %>
