<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2 class="top-header">Manage feeds</h2>

    <%= render 'form' %>

    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Url</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @feeds.each do |feed| %>
          <tr>
            <td>
              <%= link_to feed do %>
                <span class="glyphicon glyphicon-eye-open"></span>
                <span class="sr-only">Show</span>
              <% end %>
            </td>
            <td><%= feed.title %></td>
            <td><%= feed.url %></td>
            <td>
              <%= link_to feed, method: :delete, data: {confirm: 'Remove this feed?'} do %>
                  <span class="glyphicon glyphicon-thumbs-down"></span>
                  <span class="sr-only">Remove</span>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
