<div class="row">
  <div class="col-sm-3">
    <div class="entry-info">
      <h1 class="top-header"><%= @entry.title %></h1>
      <p>
        <span>Published <%= time_ago_in_words(@entry.published) %> ago</span>
        <span>on <%= link_to @entry.feed.title, feed_path(@entry.feed) %></span>
      </p>
    </div>
    <ul class="nav nav-stacked">
      <li>
        <%= link_to @entry.url do %>
            <span class="glyphicon glyphicon-eye-open"></span>
            <span>Visit website</span>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="col-sm-6">
    <div class="entry-content">
      <%= @entry.content ? @entry.content.html_safe : @entry.summary.html_safe %>
    </div>
  </div>
</div>

