<div class="row">
  <div class="col-sm-6 col-sm-push-3">
    <%= render 'feeds/form' %>
    <div id="recent-entries">
      <%= render 'entries/list' %>
    </div>
  </div>
  <div class="col-sm-3 col-sm-pull-6 sidebar">
    <ul class="nav nav-stacked">
      <% @feeds.each do |feed| %>
          <li>
            <%= link_to feed_path(feed.id) do %>
                <span><%= truncate(feed.title, length: 30) %></span>
            <% end %>
          </li>
      <% end %>
      <% if @feeds.count == 0 %>
          <li>Nothing to feed on</li>
      <% end %>
    </ul>
    <hr />
    <ul class="nav nav-stacked sticky">
      <li>
        <%= link_to feeds_path do %>
            <span class="glyphicon glyphicon-wrench"></span>
            <span>Manage feeds</span>
        <% end %>
      </li>
      <li>
        <%= link_to home_refresh_feeds_path do %>
            <span class="glyphicon glyphicon-refresh"></span>
            <span>Update feeds</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>
<% if (params[:page] == nil || params[:page] == "1")  %>
<script>
  home.update(2000);
</script>
<% end %>