<!DOCTYPE html>
<html>
<head>
  <title>Feeed Me</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= link_to 'Feeed Me!', root_path %></h1>
    </div>
  </div>
</div>
<div class="main container">
  <div class="main row">
    <div class="col-xs-12">
        <%= yield %>
    </div>
  </div>
</div>
<div class="footer container-fluid">
  <div class="row">
  </div>
</div>
</body>
</html>
